@{
    // TODO #2.1- declare the ViewModel (outside of this @{ } block)
}
@model TechJobs.ViewModels.SearchJobsViewModel

<h1>@Model.Title Id= @Model.job.ID Name=@Model.job.Name</h1>

@if (Model.job != null)
{
    
        <table class="job-listing">
            <tr>
                <td>Name</td>
                <td>@Model.job.Name</td>
            </tr>
            <tr>
                <td>Employer</td>
                <td>@Model.job.Employer</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.job.Location</td>
            </tr>
            <tr>
                <td>Skill</td>
                <td>@Model.job.CoreCompetency</td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td>@Model.job.PositionType</td>
            </tr>
        </table>
    }
}